$primary-color: #FFFFFF;
$secondary-color: #F6F6F6;
$tertionary-color: #FF79DA;
$quartenary-color: #9356DC;
$cinquenary-color: #99E2D0;
$senary-color: #008766;
$septenary-color: #7E7E7E;
$octonary-color: #EAEAEA;