/****** General ***********/
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.main-container {
  width: 100%;
  max-width: 767.98px;
  box-sizing: border-box;
}

h1 {
  font-family: "Shrikhand", serif;
  font-size: 28px;
  line-height: 40.82px;
  font-family: Shrikhand;
  font-weight: 400;
}

h2 {
  font-weight: 300;
  font-size: 16px;
  line-height: 18.75px;
}

h3 {
  font-size: 18px;
  line-height: 21.09px;
}

/******* header **********/
header {
  display: flex;
  height: 63px;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  width: 162px;
  margin: auto;
}

.header__arrow {
  position: absolute;
  left: 23px;
}

/******** hero **********/
.hero__img {
  height: 275px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/********* Restaurants **********/
.restaurants {
  box-sizing: border-box;
  background: #f6f6f6;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  position: relative;
  top: -32px;
}
.restaurants .restaurants__card__title {
  display: flex;
  align-items: center;
  height: 29px;
  padding: 32px 0 0 0;
}
.restaurants h1 {
  margin-right: 24px;
  margin-left: 17px;
}
.restaurants h2 {
  position: relative;
  margin-top: 40px;
}
.restaurants h2::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 40px;
  border-bottom: 3px solid #99E2D0;
}
.restaurants .meal {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: 12px 13px;
  padding: 13.5px 15px;
  height: 42px;
  background: white;
  border-radius: 15px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}
.restaurants .restaurants__button {
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  text-align: center;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2509803922);
  width: 218px;
  height: 50px;
  border-radius: 25px;
  border: none;
  color: white;
  margin: 27px auto 57px auto;
  transition: all 0.2s ease-in-out;
}
.restaurants .restaurants__button:hover {
  filter: brightness(1.2);
  box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.3764705882);
  cursor: pointer;
}
.restaurants .restaurants__button__container {
  display: flex;
}

/********** Footer **********/
footer {
  box-sizing: border-box;
  background: #353535;
  color: white;
  padding-left: 25px;
  padding-top: 22px;
  padding-bottom: 22px;
  margin-top: -32px;
}
footer .footer-logo {
  font-family: Shrikhand;
  font-size: 18px;
  font-style: italic;
  font-weight: 900;
  line-height: 26.24px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  width: 137px;
  height: 27px;
  margin-bottom: 16px;
}
footer p {
  margin-bottom: 7px;
}
footer i {
  margin-right: 10px;
  width: 12px;
  height: 13px;
}

footer a {
  text-decoration: none;
  color: white;
}/*# sourceMappingURL=palette.css.map */