/****** General ***********/
* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
  }
  body {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  .main-container {
    width: 100%;
    max-width: 767.98px;
    box-sizing: border-box;
  }

 /******* header **********/
 header {
    display: flex;
    height: 63px;
    justify-content: center;
    align-items: center;
    
    
 }
.logo {
    display: flex;
    width: 162px;
    margin: auto;
  
  }
  
.header__logo {
    
  } 
.header__arrow {
    position: absolute;
    left: 23px;
    
  }