@charset "UTF-8";
/****** General ***********/
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.main-container {
  width: 100%;
  max-width: 767.98px;
  box-sizing: border-box;
}

/******* header **********/
.logo {
  display: flex;
  width: 162px;
  margin: auto;
}

.header__location {
  box-sizing: border-box;
  display: flex;
  background-color: #EAEAEA;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2509803922);
  justify-content: center;
  padding-top: 15.5px;
  padding-bottom: 15.5px;
}
.header__location i {
  margin-right: 17px;
}
.header__location p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 18.75px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

.header__logo {
  height: 63px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1490196078);
  display: flex;
  align-items: center;
  position: relative;
}

/*******Section Hero **********/
.hero {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  background: #F6F6F6;
  margin-top: 4px;
}
.hero h1 {
  width: 275px;
  height: 68px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.13px;
  text-align: center;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  margin: auto;
  padding-top: 39px;
}
.hero p {
  line-height: 21.09px;
  text-align: center;
  width: 315px;
  height: 46px;
  margin: auto;
}
.hero button {
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  text-align: center;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2509803922);
  width: 218px;
  height: 50px;
  border-radius: 25px;
  border: none;
  color: #FFFFFF;
  margin: 27px auto 57px auto;
  transition: all 0.2s ease-in-out;
}
.hero button:hover {
  filter: brightness(1.2);
  box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.3764705882);
  cursor: pointer;
}

/******** Loader **********/
:root {
  --green: #008744;
  --blue: #0057e7;
  --red: #d62d20;
  --yellow: #ffa700;
  --white: #eee;
}

/* Le loader */
.loader {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.circular {
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@keyframes color {
  0%, 100% {
    stroke: var(--red);
  }
  40% {
    stroke: var(--blue);
  }
  66% {
    stroke: var(--green);
  }
  80%, 90% {
    stroke: var(--yellow);
  }
}
/* Conteneur du loader */
.showbox {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5%;
  background: var(--white);
  z-index: 1000;
  animation: hideLoader 0s ease-in 3s forwards;
}

/* Animation pour cacher le loader après 3 secondes */
@keyframes hideLoader {
  to {
    visibility: hidden;
  }
}
/* Contenu principal */
.main-content {
  visibility: hidden;
  animation: showContent 0s ease-in 3s forwards;
}

@keyframes showContent {
  to {
    visibility: visible;
  }
}
body {
  margin: 0;
  background-color: #FFFFFF;
}

/********* Fonctionnement *******/
.choice {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-bottom: 43px;
}
.choice h2 {
  margin: 48px auto 26px 20px;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 28.13px;
  text-align: left;
}
.choice button {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 72.38px;
  border-radius: 20px;
  border: none;
  background: #F6F6F6;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1490196078);
  color: black;
  font-size: 1rem;
  font-weight: 500;
  line-height: 18.75px;
  margin: 0 auto 25px auto;
  position: relative;
}
.choice button i {
  color: #7E7E7E;
  padding-right: 30px;
  text-align: left;
}
.choice button i:hover {
  color: #9356DC;
}
.choice button .button__number {
  color: #FFFFFF;
  background: #9356DC;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
  left: -13px;
}

/******** Restaurants **********/
.restaurants {
  background: #F6F6F6;
  padding: 54px 20px 66px 20px;
}
.restaurants h2 {
  margin-bottom: 20px;
}

.restaurants__cards {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.restaurants__cards .restaurants__card {
  margin-bottom: 20px;
  text-decoration: none;
}

.card {
  background-color: white;
  border-radius: 15px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  height: 251px;
}
.card img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 174px;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  position: relative;
}
.card .card-content1 {
  display: flex;
  color: black;
  text-decoration: none;
  justify-content: space-between;
  margin: 16px 25px 12px 13px;
}
.card i {
  font-size: 1.31rem;
  height: 22px;
}
.card .img__p {
  width: 80px;
  height: 29px;
  border-radius: 2px;
  background: #99E2D0;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 16.41px;
  text-align: center;
  color: #008766;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 13px;
  top: 13px;
}

.heart-container {
  position: relative;
  width: 24px;
  height: 24px;
}

.heart-empty,
.heart-full {
  font-size: 24px;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.heart-empty {
  color: black;
  opacity: 1;
}

.heart-full {
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  opacity: 0;
}

.heart-empty:hover {
  opacity: 0;
}

.heart-full:hover {
  opacity: 1;
  transform: scale(1.2);
}

.restaurants__card:hover .fa-heart-transition {
  transform: scale(1.2);
}

.card-content h3 {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 21.09px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
.card-content p {
  font-size: 1.063rem;
  font-weight: 300;
  line-height: 19.92px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

/********* Footer **********/
footer {
  box-sizing: border-box;
  background: #353535;
  color: #FFFFFF;
  padding-left: 25px;
  padding-top: 22px;
  padding-bottom: 22px;
}
footer .footer-logo {
  font-family: Shrikhand;
  font-size: 1.125rem;
  font-style: italic;
  font-weight: 900;
  line-height: 26.24px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  width: 137px;
  height: 27px;
  margin-bottom: 16px;
}
footer p {
  margin-bottom: 7px;
}
footer i {
  margin-right: 10px;
  width: 12px;
  height: 13px;
}

footer a {
  text-decoration: none;
  color: #FFFFFF;
}

@media (min-width: 767.98px) {
  .main-container {
    max-width: 100%;
  }
  .header__logo, .header__location {
    box-shadow: 0 0 0 0;
  }
  .hero {
    margin-top: 0;
  }
  .hero h1 {
    width: 100%;
    font-weight: 700;
    height: 47px;
    font-size: 2.5rem;
    line-height: 46.88px;
    letter-spacing: 0;
    text-align: center;
    padding-top: 0;
    margin-top: 30px;
  }
  .hero p {
    width: 535px;
    height: 47px;
    margin-top: 18px;
    align-content: center;
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 21.09px;
    letter-spacing: 0;
    text-align: center;
  }
  .choice h2 {
    margin: 50px auto 25px 12.5%;
  }
  h2 {
    margin: 30px auto 28px auto;
  }
  .choice__container {
    display: flex;
    justify-content: space-between;
    padding: 0 12.5%;
  }
  .choice button {
    margin: 0 24px 50px 0;
    width: 40%;
  }
  .restaurants {
    padding: 30px 12.5% 30px 12.5%;
  }
  .restaurants__cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .restaurants__card {
    width: 45.5%;
  }
  .footer-nav {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    margin: 35px 50px 0 auto;
  }
  .footer-nav__links {
    display: flex;
    margin-right: 70px;
    gap: 30px;
  }
}/*# sourceMappingURL=style.css.map */